[Unit]
Description=Kraken LCD Custom Display Daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=$CWD
ExecStart=sudo $CWD/$ENV_NAME/bin/python3 main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
